@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.down-arrow::after {
  content: '˅'; /* Unicode character for the down arrow */
  margin-left: 4px;
  font-size: 0.75em;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 29px; 
  height: 24px; 
}


